@media (min-width: 768px) and (max-width: 1279px) {
    .set-card-initiative{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .div-1 h1{
        font-size: 26px;
        border: none;
    }
    .text-initiative{
        align-items: center;
    }
    .text-initiative p{
        text-align:justify;
    }
    .top_footer{
        font-size: 16px;
    }
    .button_footer{
        flex-direction: column;
    }
    .menu_footer {
        font-size: 16px;
        align-items: center;
    }
    .img_footer img{
        width: 110px;
    }
    .img_footer {
        width: 120px;
        height: 120px;
        margin-top: 2%;
    }
    .social_img img{
        width: 45px;
    }
    .gos_img img{
        width: 75px;
    }
    .logotip{
        margin-left: 0;
        width: 70px;
        height: 80px;
        }
    .logotip img{
        width: 60px;
        }
    .do-fix-header{
        display: none;
    }
    .header-contacts{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile{
        height: 82px;
        background-color: #198754;
    }
    .menu-items a{
        text-decoration: none;
        color: black;
    }
    .menu-items a:hover{
        border-bottom: 2px solid #198754;
    }
    .menu-items li{
        list-style-type: none;
    }
    .card_event{
        flex-direction: column;
        padding: 2%
    }
    .card_event img{
        width: 295px;
        height: auto;
        border-radius: 10px;
    }
    .event_data_location img {
        width: 30px;}
    .title_calendar{
        justify-content: center;
    }
    .top_footer p{
        font-size: 11px;
    }
    .top_footer{
        height: 60px;
    }
    .button_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu_footer {
        align-items: center;
        margin-left: 0;
        margin-bottom: 10px;
    }
    #btn-back-to-top{
        right: 680px;
    }
    .bg-text-color-top{
        margin-bottom: 30%;
    }
    .burger_icon{
        display: flex;
        align-items: center;
    }
    .burger_icon img{
        width: 35px;
    }
    .burger_icon p{
        margin-bottom: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .set-card-initiative{
        flex-direction: column;
        align-items: center;
    }
    main{
        margin-left: 0;
        margin-right: 0;
    }
    .text-initiative{
        align-items: center;
    }
    .text-initiative h3{
        font-size: 18px;
    }
    .text-initiative p{
        font-size: 16px;
        text-align:justify;
    }
    .div-1 h1{
        font-size: 20px;
        border: none;
    }
    .top_footer {
        font-size: 12px;
    }
    .menu_footer a {
        margin-top: 25px;
    }
    .menu_footer {
        font-size: 12px;
    }
    .img_footer {
        width: 80px;
        height: 80px;
    }
    .img_footer img{
        width: 80px;
        height: 80px;
    } 
    .social_img img {
        width: 35px;
    } 
    .social_img{
        height: 90px;
        }
    .logotip{
        margin-left: 0;
        width: 70px;
        height: 80px;
        }
    .logotip img{
        width: 60px;
        }
    .do-fix-header{
        display: none;
    }
    .header-contacts{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile{
        height: 82px;
        background-color: #198754;
    }
    .menu-items a{
        text-decoration: none;
        color: black;
    }
    .menu-items a:hover{
        border-bottom: 2px solid #198754;
    }
    .menu-items li{
        list-style-type: none;
    }
    .card_event{
        flex-direction: column;
        padding: 2%
    }
    .card_event img{
        width: 295px;
        height: auto;
        border-radius: 10px;
    }
    .event_data_location img {
        width: 30px;}
    .title_calendar{
        justify-content: center;
    }
    .top_footer p{
        font-size: 11px;
    }
    .top_footer{
        height: 60px;
    }
    .button_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu_footer {
        align-items: center;
        margin-left: 0;
        margin-bottom: 10px;
    }
    #btn-back-to-top{
        right: 310px;
    }
    .burger_icon{
        display: flex;
        align-items: center;
    }
    .burger_icon img{
        width: 35px;
    }
    .burger_icon p{
        margin-bottom: 0;
    }
    .navbar .menu-items{
        margin-left: -20px;
        padding-right: 0;
    }
    .fix-header{
        display: none
      }
}



@media (max-width: 768px) {
    .fix-header{
        display: none
      }
    .mobile{
        display: block;
        z-index: 9999;
    }
    .navbar {
      opacity: 0.95;
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 5px;
      width: 100%;
      border-radius: 10px;
      background: #8D9429;
      border: 1px solid #fff;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 65px;
      background: #fff;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 30px;
      padding-right: 20px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
  
    /* ......./ food /......... */
  
    .food-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .food-type:not(:last-child) {
      margin-bottom: 3rem;
    }
  
    .food-type {
      box-shadow: 5px 5px 10px 0 #aaa;
    }
  
    .img-container {
      margin: 0;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 65%;
    }
  
    .navbar .menu-items li{
        font-size: 1.6rem;
    }
  
    .testimonial-container {
      flex-direction: column;
      text-align: center;
    }
  
    .food-menu-container img {
      margin: auto;
    }
  
    .food-menu-item {
      flex-direction: column;
      text-align: center;
    }
  
    .form-container {
      width: 90%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
    }
  
    .contact-img {
      width: 90%;
      margin: 3rem auto;
    }
  
    .logo {
      position: absolute;
      top: 06px;
      right: 15px;
      font-size: 3rem;
    }
  
    .navbar .menu-items li {
      margin-bottom: 2.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
      font-size: 1.5rem;
    }
  
    .img-container .btn {
      font-size: 0.7rem;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
      height: 50vmax;
    }
  }
  




